body {
    background:url('../images/gabriel-sollmann-Y7d265_7i08-unsplash.jpg');
    width:100%;
    height:100%;
    background-size:100%;
    background-size:cover;
    overflow:hidden;
   padding:0px;
   margin:0px;
}
.bg
{
    
}
.form-contain
{
    position:relative;
    top:16vh;
    background-color:rgba(0,0,0,0.5);
    padding:30px;
    width:55vh;
    border-radius:22px;


}

h1{
    font-size:50px;
    font-style:oblique;
    padding-top:10px;
    margin-top:auto;
   
}
h3{
color:#c7b73b;
text-align:center;
}
.p{
    color:#ffffff;

}
.btn{
  
}

